<mat-toolbar class="navbar">
    <div><a href="/shop" class="navbar-brand">TEKBooks</a></div>
    <div>
        <span>
            <a routerLink="/shop"  >Shop</a>
        </span>
        <span>
           <a [matMenuTriggerFor]="appMenu">
                Menu
           </a>
        </span>
        <span>
            <a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout">LogOut</a>
        </span>
    </div>  
</mat-toolbar>
<mat-menu #appMenu="matMenu">
    <div>
        <span><button mat-button>
            <a *ngIf="loginService.isUserLoggedIn() && loginService.isAdmin()" routerLink="/admin/users" class="dropdown-item">Users</a>
        </button></span>
        <span><button mat-button>
            <a *ngIf="loginService.isUserLoggedIn() && loginService.isAdmin()" routerLink="/admin/books" class="dropdown-item">Books</a>
        </button></span>
    </div>
</mat-menu>

