
<mat-tab-group mat-align-tabs="center">

    <mat-tab label="SHOP BOOKS">

        <mat-grid-list cols="3" rowHeight="1:1">
            <mat-grid-tile  *ngFor="let book of books;let i=index">
                <div>
                    <mat-card-header>
                        <span class="details"><mat-card-title>NAME: {{book.name}}</mat-card-title></span>
                        <p> Price: ${{book.price}}</p>
                      </mat-card-header>
                    <span class="img">
                        <img img src="{{book.retrievedImage}}" height="300" width="200" >
                    </span>
                    <mat-card-content>
                        <p><strong>AUTHOR : {{book.author}}</strong></p>
                    </mat-card-content>
                    <span class="button">
                        <button mat-raised-button color="warn" (click)="addToCart(book.id)"
                        [disabled]="book.isAdded===true">Add To Cart</button>
                    </span>
                </div>
            </mat-grid-tile>

           
          </mat-grid-list>
    </mat-tab>
    
    <mat-tab label="SEARCH BOOKS">
        <div class="searchArea">
            <div>
                <span class="searchText">
                        Search Book :
                </span>
                <span class="searchString">
                    <input matInput placeholder="Enter a book or author name" name="req_book" [(ngModel)]="req_book" size="40">
                </span>
                <span class="searchButton">
                    <button mat-raised-button color="warn" (click)=search(req_book)>
                        Search
                      </button>
                </span>
            </div>
            <mat-grid-list cols="2" rowHeight="1:1">
            <mat-grid-tile *ngIf="result_book">
                <div>
                    <mat-card-header>
                        <span class="details"><mat-card-title>NAME: {{result_book.name}}</mat-card-title></span>
                        <p> Price: ${{result_book.price}}</p>
                        </mat-card-header>
                    <span class="img">
                        <img img src="{{result_book.retrievedImage}}" height="300" width="200" >
                    </span>
                    <mat-card-content>
                        <p><strong>AUTHOR : {{result_book.author}}</strong></p>
                    </mat-card-content>
                    <span class="button">
                        <button mat-raised-button color="warn" (click)="addToCart(result_book.id)"
                        [disabled]="result_book.isAdded===true">Add To Cart</button>
                    </span>
                </div>
            </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-tab>
    
    <mat-tab label="CART">
        <div>
            <h1 style="font-family: 'Roboto Mono', monospace;">
                Books Added In Cart: {{cartBooks.length}}
            </h1>
            <span>

                <mat-grid-list cols="3" rowHeight="1:1" *ngIf = "cartBooks">
                    <mat-grid-tile  *ngFor="let item of cartBooks">
                        <div>
                            <mat-card-header>
                                <span class="details"><mat-card-title>NAME: {{item.name}}</mat-card-title></span>
                                <p> Price: ${{item.price}}</p>
                              </mat-card-header>
                            <span class="img">
                                <img img src="{{item.retrievedImage}}" height="300" width="200" >
                            </span>
                            <mat-card-content>
                                <p><strong>AUTHOR : {{item.author}}</strong></p>
                            </mat-card-content>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <a *ngIf="cartBooks.length > 0" class="btn btn-small btn-warning" role="button" (click)="emptyCart()">Empty Cart</a>
            </span>
        </div>
    </mat-tab>



</mat-tab-group>